@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.container {
    z-index: -2;
}

.header {
    height: 85px;
    width: 100%;
    background-color: #3B95D7;
    margin-bottom: 5px;
}

.logo {
    font-size: 36px;
    line-height: 85px;
    letter-spacing: 0.1em;
    color: white;
    padding-left: 31px;
}

.main-content {
    height: calc(100vh - 90px);
    /* 85px header + 5px margin bottom */
    display: grid;
    grid-template-columns: 401px 12px auto;
    grid-template-rows: 1fr 1fr minmax(97px, auto);
    grid-template-areas: "aside . new-member"
        "aside . edit-member"
        "aside . footer";
    row-gap: 15px;
}

.aside {
    width: 400px;
    background-color: rgba(59, 149, 215, 0.15);
    overflow: auto;
    padding: 0 22px;
    grid-area: aside;
}

.card {
    background: rgba(86, 92, 78, 0.1);
    border: 0.5px solid #565C4E;
    padding: 10px;
    border-radius: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.card__content {
    display: flex;
    gap: 10px;
}

.member__avatar {
    width: 67px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background-color: #BDBDBD;
    color: #666363;
    font-size: 36px;
    border-radius: 50%;
}

.card__content .member__info .member__name {
    font-size: 16px;
    font-weight: 500;
}

.card__content .member__info .member__id,
.card__content .member__info .member__city {
    font-size: 12px;
    color: #666363
}

.btn {
    border-radius: 0;
    border: 1px solid #686868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.actions__edit,
.actions__delete {
    height: 23px;
    min-width: 80px;
}

.actions__edit {
    color: #666363;
    background-color: #D9D9D9;
}

.actions__delete {
    color: white;
    background-color: #DD5A5A;
}

.card__actions {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.section__title {
    color: #3B95D7;
    font-size: 24px;
    font-weight: 500;
}

.section__divider {
    border: none;
    border-top: 1px solid black;
}

.section.add-member,
.section.edit-member {
    padding: 20px 30px 20px 40px;
    background-color: #D9D9D9;
}

.section.add-member {
    position: relative;
    grid-area: new-member;
}

.section.edit-member {
    position: relative;
    grid-area: edit-member;
}

.section__form {
    height: 80%;
    display: grid;
    grid-template-columns: minmax(0, 4fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 4fr);
    grid-template-rows: auto;
    grid-template-areas: "first-name last-name last-name last-name . . . ."
        "address address address zip-code zip-code city city country"
        "gender age activity activity activity activity . . "
        "sports sports sports sports sports sports . submit ";
    row-gap: 10px;
    column-gap: 10px;
}

.section__back-btn {
    display: none;
}

.form__first-name-field {
    grid-area: first-name;
}

.form__last-name-field {
    grid-area: last-name;
}

.form__address-field {
    grid-area: address;
}

.form__zip-code-field {
    min-width: 116px;
    grid-area: zip-code;
}

.form__city-field {
    min-width: 200px;
    grid-area: city;
}

.form__country-field {
    grid-area: country;
}

.form__gender-field {
    grid-area: gender;
}

.form__age-field {
    grid-area: age;
}

.form__activity-field {
    grid-area: activity;
}

.form__sports {
    grid-area: sports;
}

.form__back-btn {
    height: 30px;
    width: 158px;
}

.button__mobile-container {
    display: none;
}

.form__submit-btn {
    grid-area: submit;
    height: 30px;
    width: 158px;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: #3B95D7;
    color: white;
}
.form__submit-btn:disabled{
    box-shadow: none;
    cursor: default;
    opacity: 0.3;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
}

.form__label {
    white-space: nowrap;
    font-size: 14px;
    color: #666363;
    letter-spacing: 0.1em;
}

.form__input,
.form__select {
    outline: none;
    height: 32px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.form__fieldset {
    max-width: 333px;
    display: flex;
    column-gap: 75px;
    border: none;
    background-color: white;
    color: #3B95D7;
    padding: 5px 23px;
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: 0.1em;
}

.radio-btn-wrapper {
    display: flex;
    gap: 9px;
}

.checkbox-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 8px;
    border: 1px solid #3B95D7;
    border-radius: 15px;
    padding: 7px 13px;
    padding-bottom: 53px;
}

.checkbox-section__title {
    width: 100%;
}

.checkbox-section__wrapper .checkbox-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #3B95D7;
}

.checkbox-section__title {
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #666363;
}

.checkbox-section__wrapper input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid #3B95D7;
    cursor: pointer;
}

.checkbox-section__wrapper input[type=checkbox]:checked {
    background-image: url(assets/images/checked.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-size: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.footer {
    color: white;
    background-color: #3B95D7;
    margin-top: -5px;
    grid-area: footer;
}

.footer .nav__menu {
    display: flex;
    line-height: 97px;
    margin-left: 33px;
    column-gap: 80px;
    flex-wrap: wrap;
}

.footer .nav__menu .nav__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(217, 217, 217, 0.5);
    display: none;
}

.modal--active {
    display: flex;
}

.modal__container {
    width: 442px;
    height: 229px;
    background-color: #D9D9D9;
    border: 1px solid #3B95D7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 20px;
}

.modal__header {
    background-color: #3B95D7;
    border-radius: 3px 3px 0px 0px;
    font-size: 24px;
    color: white;
    padding: 3px 16px;
}

.modal__text {
    padding: 36px 61px;
    text-align: center;
}

.modal__actions {
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.modal__yes-btn,
.modal__no-btn {
    width: 117px;
    height: 30px;
    color: white;
}

.modal__no-btn {
    background-color: #dd482d;
}

.modal__yes-btn {
    background-color: #3B95D7;
}

.toast__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.toast {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    height: 42px;
    width: 60%;
    padding-right: 20px;
    font-size: 24px;
    color: white;
}

.toast--success {
    background-color: #48B791;
}

.toast--error {
    background-color: #DD482D;
}

.toast__icon {
    width: 30px;
    height: 30px;
    margin-left: 12px;
    margin-right: 21px;
}

.toast__message {
    white-space: nowrap;
}

.spinner {
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: rgba(217, 217, 217, 0.5);
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner::before {
    animation: 1.5s linear infinite spinner;
    border: solid 4px #eee;
    border-bottom-color: #3B95D7;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
}

.spinner--active{
    display: block;
}

@media screen and (max-width: 1024px) {
    .section.add-member {
        grid-row: span 2;
    }

    .section.edit-member {
        grid-row: span 2;
    }

    .section.edit-member.hide {
        display: none;
    }

    .section.add-member.hide {
        display: none;
    }

    .main-content {
        grid-template-rows: 1fr 1fr 97px;
    }

    .section__form {
        height: calc(100% - 40px);
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
        grid-template-areas: "first-name first-name last-name last-name"
            "address address address address"
            "city city city zip-code"
            "country age . ."
            "gender . . ."
            "activity activity . ."
            "sports sports sports sports"
            "submit submit submit submit";
    }

    .section__back-btn {
        display: block;
        position: absolute;
        bottom: 24px;
        height: 30px;
        width: 78px;
    }

    .form__back-btn {
        align-self: flex-end;
    }

    .form__age-field {
        min-width: 116px;
    }

    .checkbox-section__wrapper {
        padding-bottom: 25px;
    }

    .toast {
        width: auto;
    }

    .footer .nav__menu {
        column-gap: 120px;
        line-height: 51px;
    }

    .footer .nav__menu>* {
        white-space: nowrap;
        flex-basis: 30%;
        max-width: 170px;
    }
}

@media screen and (max-width: 1300px) {

    .footer .nav {
        height: 97px;
    }

    .checkbox-section__wrapper {
        padding-bottom: 7px;
    }
}